tml{
	height: 100%;
	margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 95%;
	height: 100%;
    min-height: 500px;
	display: flex;
    background: #45255B;
    background: linear-gradient(to top, #45255B 100%, #C085CF 38%);
    background-attachment: fixed;
    background-size: cover;
	flex-direction: column;
}

/* Website Title */
.container{
    width: 100%;
    height: 100%;
    padding: 30px;
	position:relative;
	overflow: hidden;
    background: #45255B;
    background: linear-gradient(to top, #45255B 100%, #C085CF 38%);
	background-size: 500% 500%;
}


.container-heading{
    margin: 0;
}

.heading_font{
    color: #ffffff;
	font-family: 'Jost', sans-serif;
	font-size: 30px;
	font-weight: bold;
}



/* Text Area */
.ml-container{
    margin: 30px 0;
	flex: 1 0 auto;

}

.form {
	text-align: left;
	width: 250px;
	height: 25px;
	margin-bottom: 5px;
	
}

input[type=text], select{
    width:60%;
    padding: 12px 20px;
    margin: 8px 0;
    background:#e0dede;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
	display: inline block;
	width: 300px;
	font-weight: bold;
    font-family: 'Jost', sans-serif;
    color: #fff ;
	text-align: left;
	float: left;
  }

/* Predict Button */
.my-cta-button{
   	border: none;
    border-radius:  5px;
	margin-top: 10px;
    padding: 10px 36px;
    color: #fff;
    background: #6d44b8; 
    font-size: 1em;
    display: inline-block;
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.my-cta-button:hover{
    
    background:#221c35;
    background: -webkit-linear-gradient(top, #221c35, #3e1046);
    background: -moz-linear-gradient(top, #221c35, #3e1046);
    background: linear-gradient(to bottom, #221c35, #3e1046);    
}

.my-cta-button:active{
    box-shadow: 0 0;
}

/* Result */
.results{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 500px;
	display: flex;
    background: #45255B;
    background: linear-gradient(to top, #45255B 100%, #C085CF 38%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	flex-direction: column;
    padding: 30px 0 0;
	flex: 1 0 auto;
}

.danger{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.safe{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

